.margenes_completos {
    margin: 0 auto;
    max-width: 960px;
}

.case_study {
    font-weight: 600;
    justify-content: left;
    margin-left: 100px;
    margin-top:50px;
}
.cuerpo_proyecto {
    justify-content: left;
    margin: 50px 100px 50px 100px;
    line-height: 1.5;
}
.quotes {
 font-style: italic;
 margin-bottom: 40px;
 margin-top: 20px;
 margin-left: 0;
 padding-left: 1em;
 border-left: 5px solid #520802;
}
.bold {
    font-weight: bold;
}
.subtitulos {
    font-weight: 600;
    font-size: 25px;
    justify-content: left;
    margin-left: 100px;
}
.imagen_hifi {
    margin-top: 50px;
}
.sub_subtitulos {
    font-weight: 600;
    font-size: 18px;
    justify-content: left;
    margin-left: 100px;
    margin-top: 50px
}
.empatizar_puntos {
    list-style-type: disc;
    margin-left: 30px;
}
.link_portfolio {
    font-size: 16px;
    color: #140d0e;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}
.link_portfolio:hover {
    color: #520802;
    font-size: 18px;
}
@media screen and (max-width: 375px) {
    .case_study {
        font-size: 24px;
        margin-left: 16px;}
    .cuerpo_proyecto {
        font-size: 14px;
        justify-content: left;
        margin: 50px 16px 50px 16px;}
    .subtitulos {
            font-size: 20px;
            justify-content: left;
            margin-left: 16px;}

}