img {
   width: 100%
}
body{
   font-size: 16px;
   color: #140d0e;
   font-family: 'Open Sans', sans-serif;
}
a {
   letter-spacing: .5px;
   color: #140d0e;
   font-size: 1.4vw;
   text-decoration: none;
   transition: color .1s ease-in-out;
}
.menu{
   justify-content: space-between;
   }
/* .container{
max-width: 1220px;
margin: 0 auto;
} */

#name {
   font-size: 1.7vw;
}
h4{
  font-size: 1.5vw;
}
#main-header .container{
   height: 180px;
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin-right: 100px;
   margin-left: 100px;
}
.main-navigation{
   display: inline-block;
   vertical-align: top;
   margin-top: 22px;
   margin-left: 50px;
}
.main-navigation ul{
   font-size: 1vw;
  line-height: 21px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #140d0e;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.main-navigation li{
   display: inline-block;
   margin-left: 28px;
   padding-bottom: 22px;
   position: relative;
   color: #140d0e;
}
#seccion-uno {
/* text-align: center; */
height: 550px;
background-image: url(../img/fondosuicidio.png);
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: 0% 0%;
display: flex;
justify-content: center;
align-items: center;

}   
h1 {
  font-size: 3.5vw;
  margin: 50px; 
}
.sub-section {
  text-align: center;
  margin: 20px;
}
#descripcion {
  height: 130px;
  align-items: center;
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
  justify-content: center;
  text-align: center;
  font-style: italic; 
}
h2 {
  font-size: 2.5vw;
  align-items: center;
  display: flex;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}
#hproyecto {
  margin-left: 100px;
  height: 170px;
  margin-top: 100px;
}
#cards {
  margin-top: 32px;
  max-width: 100%;
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  #cards {
     grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (min-width: 620px) and (max-width: 767px) {
  #cards {
     grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (max-width: 619px) {
  #cards {
    grid-template-columns: 1fr;
  }
}

.card__wrapper {
  position: relative;
  display:grid;
  justify-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #dedede;
  min-height: 75vh;
  padding: 24px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0);
}
.card__wrapper .card__overlay-info {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}
.card__wrapper .card__overlay-info .card__image {
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  margin-top: 0;
  opacity: .3;
  margin-bottom: 0;
}
.card__wrapper .card__overlay-info .card__image img {
  min-height: 75vh;
  height: 100%;
  object-fit: cover;
}
.card__wrapper:hover {
  transform: translateY(-6px);
  box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.2);
}
.card__wrapper:hover .card__overlay-info {
  opacity: 1;
}
.card__number {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #140d0e;
  font-size: 4.5vw;
  font-weight: lighter;
}
.card__number--secondary {
   color: #140d0e;
  margin: 0;
  font-size: 4.5vw;
}
.card__title, .card__subtitle {
  margin: 0;
}

.card__title {
  font-weight: 400;
  font-size: 1.7vw;
}
.card__subtitle {
  font-weight: 100;
  font-size: 1.1vw;
}
.card__image {
  margin-top: 48px;
  margin-bottom: 12px;
  width: 100%;
}

.image-inside {
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

#image-inside1 {
   background-image: url(/img/proyecto\ fial.svg) 
}
#image-inside2 {
  background-image: url(/img/brave.svg) 
}
#image-inside3 {
  background-image: url(/img/newsclub.svg) 
}
#image-inside4 {
  background-image: url(/img/netflix.svg) 
}
.card__date {
  bottom: 24px;
  position: absolute;
  align-items: center;
  margin-top: 48px;
  font-size: 1vw;
}
.card__description {
  font-weight: lighter;
  z-index: 1;
  line-height: 1.5;
  font-size: 1.2vw;
}

.upper-decorator {
  position: relative;
}
.upper-decorator:before {
  content: '';
  width: 32px;
  height: 4px;
  position: absolute;
  top: -2px;
  background-color: #ca2f1a;
}
#aboutme {
  padding: 220px 100px 220px 100px;
  display: flex;
  justify-content: space-between;
  background-image: url(/img/ABOUT\ ME.svg);
  background-repeat: no-repeat;
  background-position: 0 100%; 
  background-size: 100% 100% ;
}
h2 #abouttitulo {
  width: 50%;
  align-items: flex-start;

}
#abouttext {
  text-align: justify;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.5;
}
footer {
   background-color: #e4f1ea;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between; 
}
.infocontacto {
   display: flex;
 margin-right: 100px;
 margin-left: 100px;
}
.email {
   color: #140d0e;
   margin-bottom: 20px;
   letter-spacing: 1.3px;
   margin-right: 50px;
  margin-top:50px;
}
.email.logo {
   height: 50px;
}
.email.logo i {
   color: #140d0e;
}


@media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) {
  #name{
    font-size:15px; 
    margin: 0;
  }
  #abouttext {
    font-size: 14px;
  }
 }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

/* @media (max-width: 575.98px) { }

@media (min-width: 576px) and (max-width: 767.98px) {
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
  #name{
    font-size:15px; 
    margin: 0;
  }
  h4{
    line-height: 2px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }

 */


